/* 预览 */
.mian-content .el-dialog {
    padding: 10px 10px !important;
    border-radius: 12px !important;
}
.mian-content .el-dialog table{
    width: 100%;
    border:1px solid #E1E7ED; 
    table-layout: fixed;
}
.mian-content .el-dialog td {
    border:1px solid #E1E7ED; 
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
} 
.mian-content .el-dialog table tr:last-child {
    margin-bottom: 10px;
}
.mian-content .el-dialog .el-form-item{
    margin: 0;
}
.mian-content .el-dialog .el-input__inner,.mian-content .el-dialog .el-textarea__inner{
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 0;
    
}
.mian-content .el-dialog .el-input__inner{
    height: 50px;
    line-height: 50px;
}
.mian-content .el-dialog .el-form-item__content{
    text-align: center;
}
.mian-content .el-dialog .el-button{
    margin-top: 30px;

}
