#right-content .condition-filter{
    background: transparent;
}
.mm-content{
   width: 80%;
   height: 100%; 
   float: left;
   padding-top: 48px;
}
.mm-content .el-select{
    width: 100%;
}
.mm-content .el-textarea__inner{
    width: 94.2%;
    height: 350px;
}
.mm-content .el-form-item__content:last-child{
    text-align: center
}
.mm-content .el-checkbox{
    margin-left: 8.8%;
}
.mm-content .el-date-editor.el-input{
    width: 100%;
}
.mm-content .el-button{
    padding: 12px 46px;
}