<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>候选人简历库</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/candidate.css">
    <script src="./js/vue.js"></script>
    <script src="./js/ele-index.js"></script>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./common/commData.js"></script>
    <script src="./js/candidate.js"></script>
</head>

<body>
    <div id="left-nav">
        <div id="gxcf-title">
            <span>人力资源管理系统</span>
        </div>
        <ul id="nav-list">
            <li>
                <img src="./images/nav1.png" alt="">
                <a href="#">
                    人力资源规划
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav2.png" alt="">
                <a href="./index.html">
                    人才招聘管理
                </a>
                <ul>
                    <li class="active">
                        <a href="#">招聘管理</a>
                        <ul>
                            <li>
                                <a href="./postList.html">职位申请列表</a>
                            </li>
                            <li>
                                <a href="./waitInterview.html">待面试</a>
                            </li>
                            <li>
                                <a href="./sendOffer.html">待入职</a>
                            </li>
                            <li>
                                <a href="./waitCome.html">已入职</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./post-manage.html">招聘任务</a>
                    </li>
                    <li>
                        <a href="./resume-manage.html">简历管理</a>
                    </li>
                    <li>
                        <a href="./school-cooperation.html">校企合作</a>
                    </li>
                    <li>
                        <a href="./template-list.html">系统设置</a>
                    </li>
                </ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav3.png" alt="">
                <a href="#">
                    绩效考核管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav4.png" alt="">
                <a href="#">
                    培训开发管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav5.png" alt="">
                <a href="#">
                    薪资福利管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav6.png" alt="">
                <a href="./statistical-analysis.html">
                    统计分析
                </a>
                <ul></ul>
            </li>
            <i></i>
        </ul>
    </div>
    <div id="right-container">
        <div id="right-top">
            <span class="right-title">候选人简历库</span>
            <div class="right-box">
                <div class="search">
                    <i class="search-icon"></i>
                    <input type="text" class="search-input">
                </div>
                <span class="user-name">Hello
                    <span>Na</span>
                </span>
                <span class="exit"></span>
            </div>
        </div>
        <div id="right-content">
            <div class="condition-filter">
                <p class="condition-title">筛选</p>
                <div class="filter-group">
                    <p class="group-title">应聘信息</p>
                    <div class="filter-item">
                        <p class="item-title">应聘岗位</p>
                        <el-select clearable v-model="searchValue.positionId" placeholder="请选择">
                            <el-option v-for="item in positionList" :key="item.id" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter-item">
                        <p class="item-title">原因</p>
                        <el-select clearable v-model="searchValue.insreason" placeholder="请选择">
                            <el-option v-for="item in reasonList" :key="item.id" :label="item.value" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="filter-group">
                    <p class="group-title">候选人信息</p>
                    <div class="filter-item">
                        <p class="item-title">工作经验</p>
                        <el-select clearable v-model="searchValue.jobAge" placeholder="请选择">
                            <el-option v-for="item in workExpList" :key="item.id" :label="item.value" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter-item">
                        <p class="item-title">当前状态</p>
                        <el-select clearable v-model="searchValue.interview" placeholder="请选择">
                            <el-option v-for="item in statusList" :key="item.id" :label="item.value" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter-item">
                        <p class="item-title">学历</p>
                        <el-select clearable v-model="searchValue.education" placeholder="请选择">
                            <el-option v-for="item in eduBackgroundList" :key="item.id" :label="item.value" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter-item sex-choice">
                        <p class="item-title">性别及年龄</p>
                        <el-select clearable v-model="searchValue.sex" size="mini" placeholder="请选择">
                            <el-option v-for="item in sexList" :key="item.id" :label="item.value" :value="item.id">
                            </el-option>
                        </el-select>
                        <div class="age-choice">
                            <input type="text" v-model="searchValue.age1">
                            <span>至</span>
                            <input type="text" v-model="searchValue.age2">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="filter-item">
                        <p class="item-title">人事负责人</p>
                        <el-select clearable v-model="searchValue.dutyid" placeholder="请选择">
                            <el-option v-for="item in RsHandlerList" :key="item.id" :label="item.value" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="filter-item">
                        <p class="item-title">渠道来源</p>
                        <el-select clearable v-model="searchValue.source" placeholder="请选择">
                            <el-option v-for="item in newsChannelList" :key="item.id" :label="item.value" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <el-button type="primary" @click="searchValueChange">查询</el-button>
            </div>
            <div class="mian-content">
                <p class="content-title">候选人简历库共有
                    <span>{{total}}</span>人
                </p>
                <p class="content-dec">您可以使用左方的筛选栏快速寻找符合需求的候选人.</p>
                <div class="handler-button">
                    <el-button type="primary" icon="el-icon-sold-out" circle plain class="add-reg" @click="add">
                        简历导入
                    </el-button>
                    <el-button type="primary" icon="el-icon-download" circle plain @click="down">下载</el-button>
                    <el-button type="primary" icon="el-icon-delete" circle plain @click="delate">删除</el-button>
                    <el-button type="primary" circle plain @click="moveToOwn">移入内部人才库</el-button>
                </div>
                <!-- 导入简历 -->
                <el-dialog title="简历导入" :visible.sync="addRegVisible" width="40%" @close="fileList = []" center class="add-reg">
                    <el-form ref="regForm" :model="regForm" label-width="80px" :rules="rules">
                        <el-form-item label="招聘任务" prop="postId">
                            <el-select clearable v-model="regForm.postId" placeholder="请选择应聘职位">
                                <el-option v-for="item in positionList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="招聘渠道" prop="source">
                            <el-select clearable v-model="regForm.source" placeholder="请选择渠道">
                                <el-option v-for="item in newsChannelList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="人事负责人" prop="channel">
                            <el-select clearable v-model="regForm.channel" placeholder="默认当前账号">
                                <el-option v-for="item in newsChannelList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="文件上传" prop="fileList">
                            <el-upload class="upload-demo" multiple :file-list="fileList" ref="uploadfile" action="https://jsonplaceholder.typicode.com/posts/"
                                :on-remove="handleRemove" :on-error="fileUploadError" :before-upload="newFiles" :auto-upload="false">
                                <el-button size="small" type="primary">点击上传</el-button>
                            </el-upload>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="regAdd">确认</el-button>
                            <el-button type="info" @click="regCancel">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <el-table :data="tableData3" border tooltip-effect="dark" class="candidate-table" @select="handleSelection" @selection-change="handleSelectionChange"
                    @row-dblclick="gotoDetail" v-loading="loading">
                    <el-table-column type="selection" width="55">
                    </el-table-column>
                    <el-table-column label="姓名" prop="name">
                    </el-table-column>
                    <el-table-column label="手机号码" prop="mobile">
                    </el-table-column>
                    <el-table-column label="应聘岗位" prop="intentJob">
                    </el-table-column>
                    <el-table-column label="人事负责人" prop="hrname">
                    </el-table-column>
                    <el-table-column label="状态" prop="state" :formatter="formatterColumn">
                    </el-table-column>
                    <el-table-column label="工作年限" prop="jobAge">
                    </el-table-column>
                    <el-table-column label="频道来源" prop="source">
                    </el-table-column>
                    <el-table-column label="学历" prop="education">
                    </el-table-column>
                    <el-table-column label="原因" prop="reason">
                        <template slot-scope="scope">
                            <el-select v-model="scope.row.reason" placeholder=" 请选择" @change="valueChange(scope.row)">
                                <el-option v-for="item in reasonList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination background layout="prev, pager, next" :total="total" :page-size="size" :pager-count="8" :current-page.sync="searchValue.crrentPage"
                        @current-change="currentChange">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</body>

</html>