<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>人力资源管理系统-首页</title>
    <link rel="stylesheet" href="./css/el-index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/ele-index.js"></script>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./js/echarts.common.min.js"></script>
    <script src="./common/commData.js"></script>
    <script src="./js/index.js"></script>
</head>

<body>
    <div id="left-nav">
        <div id="gxcf-title">
            <span>人力资源管理系统</span>
        </div>
        <ul id="nav-list">
            <li>
                <img src="./images/nav1.png" alt="">
                <a href="#">
                    人力资源规划
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav2-on.png" alt="">
                <a href="#" class="active">
                    人才招聘管理
                </a>
                <ul>
                    <li>
                        <a href="./candidate.html">招聘管理</a>
                    </li>
                    <li>
                        <a href="./post-manage.html">招聘任务</a>
                    </li>
                    <li>
                        <a href="./resume-manage.html">简历管理</a>
                    </li>
                    <li>
                        <a href="./school-cooperation.html">校企合作</a>
                    </li>
                    <li>
                        <a href="./template-list.html">系统设置</a>
                    </li>
                </ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav3.png" alt="">
                <a href="#">
                    绩效考核管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav4.png" alt="">
                <a href="#">
                    培训开发管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav5.png" alt="">
                <a href="#">
                    薪资福利管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav6.png" alt="">
                <a href="./statistical-analysis.html">
                    统计分析
                </a>
                <ul></ul>
            </li>
            <i></i>
        </ul>
    </div>
    <div id="right-container">
        <div id="right-top">
            <span class="right-title">人才招聘管理首页</span>
            <div class="right-box">
                <div class="search">
                    <i class="search-icon"></i>
                    <input type="text" class="search-input">
                </div>
                <span class="user-name">Hello
                    <span>{{username}}</span>
                </span>
                <span class="exit"></span>
            </div>
        </div>
        <div id="right-content">
            <!-- 首页头部 -->
            <div class="index-header">
                <el-row :gutter="30">
                    <el-col :span="6">
                        <div class="msgbox wait-interview">
                            <div class="msg-head">
                                <span>待面试（日）</span>
                            </div>
                            <p>{{needNum}}</p>
                            <a href="./waitInterview.html">查看详情 &gt; </a>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="msgbox has-offered">
                            <div class="msg-head">
                                <span>已发offer（周）</span>
                            </div>
                            <p>{{sendOfferNum}}</p>
                            <a href="./sendOffer.html">查看详情 &gt; </a>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="msgbox wait-work">
                            <div class="msg-head">
                                <span>已入职（周）</span>
                            </div>
                            <p>{{RzNum}}</p>
                            <a href="./waitCome.html">查看详情 &gt; </a>
                        </div>
                    </el-col>
                    <el-col :span="6" class="weather">
                        <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=112" width="100%" height="100%" frameborder="0" marginwidth="0"
                            marginheight="0" scrolling="no"></iframe>
                    </el-col>
                </el-row>
            </div>
            <!-- 首页中间图 -->
            <div class="index-mid">
                <el-row :gutter="30">
                    <el-col :span="24">
                        <div class="msgbox">
                            <div class="chart-control">
                                <el-radio-group v-model="radio3" @change="shiftValue">
                                    <el-radio-button label="已入职"></el-radio-button>
                                    <el-radio-button label="待面试"></el-radio-button>
                                    <el-radio-button label="待入职"></el-radio-button>
                                </el-radio-group>
                            </div>
                            <div id="msg-chart"></div>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <!-- 首页底部 -->
            <div class="index-footer">
                <el-row :gutter="30">
                    <el-col :span="12">
                        <div class="msgbox">
                            <div class="msg-header">
                                <i class="ii-ap"></i>
                                <span>今日面试安排</span>
                                <span>共{{newRegList.length}}个面试</span>
                            </div>
                            <div class="table-header">
                                <el-row>
                                    <el-col :span="6">面试时间</el-col>
                                    <el-col :span="6">面试官</el-col>
                                    <el-col :span="6">应聘人</el-col>
                                    <el-col :span="6">申请职位</el-col>
                                </el-row>
                            </div>
                            <div class="scroll-wrap">
                                <ul class="donate_bar" :style="{ top: -regNum + '%'}" :class="{marquee_top:regNum}" @mouseleave="Scroll(regNum,'pos')" @mouseenter="clearInterval('reg')">
                                    <li v-for="(item, index) in newRegList" :key="index">
                                        <el-row>
                                            <el-col :span="6">{{item.insTime}}</el-col>
                                            <el-col :span="6">{{item.iviewername}}</el-col>
                                            <el-col :span="6">{{item.name}}</el-col>
                                            <el-col :span="6">{{item.intentJob}}</el-col>
                                        </el-row>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="msgbox">
                            <div class="msg-header">
                                <i class="ii-zp"></i>
                                <span>最新招聘岗位</span>
                                <span>共{{newPosList.length}}个的在招岗位数</span>
                            </div>
                            <div class="table-header">
                                <el-row>
                                    <el-col :span="6">岗位名称</el-col>
                                    <el-col :span="6" class="special">招聘人数</el-col>
                                    <el-col :span="6" class="special">紧急程度</el-col>
                                    <el-col :span="6">发布日期</el-col>
                                </el-row>
                            </div>
                            <div class="scroll-wrap">
                                <ul class="donate_bar" :style="{ top: -posNum + '%'}" :class="{marquee_top:posNum}" @mouseleave="Scroll(posNum,'reg')" @mouseenter="clearInterval('pos')">
                                    <li v-for="(item, index) in newPosList" :key="index">
                                        <el-row>
                                            <el-col :span="8">{{item.positionName}}</el-col>
                                            <el-col :span="5">{{item.planNumber}}</el-col>
                                            <el-col :span="5">{{item.urgencyDesc}}</el-col>
                                            <el-col :span="4">{{item.insTime}}</el-col>
                                        </el-row>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</body>

</html>