<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>复试</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/interview.css">
    <script src="./js/vue.js"></script>
    <script src="./js/ele-index.js"></script>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./common/commData.js"></script>
    <script src="./js/interview.js"></script>
</head>

<body>
    <div id="left-nav">
        <div id="gxcf-title">
            <span>人力资源管理系统</span>
        </div>
        <ul id="nav-list">
            <li>
                <img src="./images/nav1.png" alt="">
                <a href="#">
                    人力资源规划
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav2.png" alt="">
                <a href="./index.html">
                    人才招聘管理
                </a>
                <ul>
                    <li class="active">
                        <a href="./candidate.html">招聘管理</a>
                        <ul>
                            <li>
                                <a href="./waitInterview.html">待面试</a>
                            </li>
                            <li>
                                <a href="./waitCome.html">已入职</a>
                            </li>
                            <li>
                                <a href="./sendOffer.html">发送offer</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./post-manage.html">岗位管理</a>
                    </li>
                    <li>
                        <a href="./resume-manage.html">简历管理</a>
                    </li>
                    <li>
                        <a href="./school-cooperation.html">校企合作</a>
                    </li>
                    <li>
                        <a href="./template-list.html">系统设置</a>
                    </li>
                </ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav3.png" alt="">
                <span>
                    绩效考核管理
                </span>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav4.png" alt="">
                <span>
                    培训开发管理
                </span>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav5.png" alt="">
                <span>
                    薪资福利管理
                </span>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav6.png" alt="">
                <span>
                    统计分析
                </span>
                <ul></ul>
            </li>
            <i></i>
        </ul>
    </div>
    <div id="right-container">
        <div id="right-top">
            <span class="right-title">{{interviewee.name}} - {{interviewee.intentJob}} - {{interviewee.education}} - {{interviewee.jobAge}}工作经验</span>
        </div>
        <div id="right-content">
            <!-- 确认条件 根据简历的状态显示不同的条件 -->
            <div class="condition-filter" v-show="(status != 6 && status != 7)">
                <p class="condition-title" style="color: #141C21;font-weight: 600" v-show="status == 1 || status == 0 ">面试通知</p>
                <p class="condition-title" style="color: #141C21;font-weight: 600" v-show="status == 2 || status == 3 ">面试环节</p>
                <p class="condition-title" style="color: #141C21;font-weight: 600" v-show="status == 4 ">面试信息预览</p>
                <p class="condition-title" style="color: #141C21;font-weight: 600" v-show="status == 5 ">审批默认流程</p>
                <div v-show="(status < 2)">
                    <div class="filter-group">
                        <div class="filter-item">
                            <p class="item-title">面试类型</p>
                            <el-select v-model="interviewValue.type" placeholder="请选择面试类型" :disabled="status != 0">
                                <el-option v-for="item in typeList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="filter-item">
                            <p class="item-title">通知方式</p>
                            <el-select v-model="interviewValue.noticeType" placeholder="请选择通知方式" :disabled="status != 0">
                                <el-option v-for="item in noticeTypeList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="filter-group">
                        <p class="group-title">面试信息</p>
                        <div class="filter-item">
                            <p class="item-title">面试时间</p>
                            <el-date-picker v-model="interviewValue.time" type="datetime" placeholder="选择面试时间" :disabled="status != 0">
                            </el-date-picker>
                        </div>
                        <div class="filter-item">
                            <p class="item-title">面试地点</p>
                            <el-select v-model="interviewValue.pos" placeholder="请选择面试地点" :disabled="status != 0">
                                <el-option v-for="item in posList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="filter-item">
                            <p class="item-title">面试官</p>
                            <el-select v-model="interviewValue.interviewer" placeholder="请选择" :disabled="status != 0">
                                <el-option v-for="item in interviewerList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="filter-item">
                            <p class="item-title">邮件发送模板</p>
                            <el-select v-model="interviewValue.temp" placeholder="选择模板" :disabled="status != 0">
                                <el-option v-for="item in tempList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <el-button type="primary" @click="noticeSubmit" v-show="status == 1 || status == 0">确认</el-button>
                    </div>
                </div>
                <div v-show="(status < 4 && status > 1)">
                    <div class="filter-group">
                        <div class="filter-item">
                            <p class="item-title">初次面试</p>
                            <el-select v-model="interviewValue.type" placeholder="请选择面试类型">
                                <el-option v-for="item in typeList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="filter-item">
                            <p class="item-title">面试时间</p>
                            <el-select v-model="interviewValue.noticeType" placeholder="请选择通知方式">
                                <el-option v-for="item in noticeTypeList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="filter-group">
                            <p class="group-title">面试信息</p>
                            <div class="filter-item">
                                <p class="item-title">面试时间</p>
                                <el-date-picker v-model="interviewValue.time" type="datetime" placeholder="选择面试时间">
                                </el-date-picker>
                            </div>
                            <div class="filter-item">
                                <p class="item-title">面试地点</p>
                                <el-select v-model="interviewValue.pos" placeholder="请选择面试地点">
                                    <el-option v-for="item in posList" :key="item.value" :label="item.label" :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="filter-item">
                                <p class="item-title">面试官</p>
                                <el-select v-model="interviewValue.interviewer" placeholder="请选择">
                                    <el-option v-for="item in interviewerList" :key="item.value" :label="item.label" :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="filter-item" v-show="status == 3">
                                <p class="item-title">复试官1</p>
                                <el-select v-model="interviewValue.secInterviewer1" placeholder="请选择">
                                    <el-option v-for="item in interviewerList" :key="item.value" :label="item.label" :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="filter-item" v-show="status == 3">
                                <p class="item-title">复试官2</p>
                                <el-select v-model="interviewValue.secInterviewer2" placeholder="请选择">
                                    <el-option v-for="item in interviewerList" :key="item.value" :label="item.label" :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="(status == 4 )">
                    <div class="small-img" @click="centerDialogVisible=true">
                        <img src="./images/yl.png" alt="">
                    </div>
                </div>
                <div v-show="(status == 5)">
                    <div class="filter-group">
                        <div class="filter-item">
                            <p class="item-title">人事审核</p>
                            <el-select v-model="interviewValue.type" placeholder="请选择面试类型" disabled>
                                <el-option v-for="item in typeList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="filter-item">
                            <p class="item-title">中心总经理</p>
                            <el-select v-model="interviewValue.noticeType" placeholder="请选择通知方式" disabled>
                                <el-option v-for="item in noticeTypeList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="filter-item">
                            <p class="item-title">公司总经理</p>
                            <el-select v-model="interviewValue.noticeType" placeholder="请选择通知方式" disabled>
                                <el-option v-for="item in noticeTypeList" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mian-content">
                <!-- 步骤描述 显示不同的进程-->
                <p class="progress-title">流程:
                    <span v-show="status == 0">查看简历</span>
                    <span v-show="status == 1">通知面试</span>
                    <span v-show="status == 2">初试</span>
                    <span v-show="status == 3">复试</span>
                    <span v-show="status == 4">录用申请</span>
                    <span v-show="status == 5">录用审批</span>
                    <span v-show="status == 6">发送offer</span>
                    <span v-show="status == 7">完成</span>
                </p>
                <div class="progress-step">
                    <!-- 步骤的指引 根据状态改变sel -->
                    <ul class="step-content">
                        <li :class="['step-item',status==1?'sel':'']">通知面试</li>
                        <li :class="['step-item',status==2?'sel':'']">初试</li>
                        <li :class="['step-item',status==3?'sel':'']">复试</li>
                        <li :class="['step-item',status==4?'sel':'']">录用申请</li>
                        <li :class="['step-item',status==5?'sel':'']">录用审批</li>
                        <li :class="['step-item',status==6?'sel':'']">发送offer</li>
                        <li :class="['step-item',status==7?'sel':'']">完成</li>
                    </ul>
                    <div class="step-time">
                        <el-row>
                            <el-col :span="3">2018-06-08 上午</el-col>
                            <el-col :span="4">2018-06-09 上午</el-col>
                            <el-col :span="3"></el-col>
                            <el-col :span="4"></el-col>
                            <el-col :span="3"></el-col>
                            <el-col :span="4"></el-col>
                            <el-col :span="3"></el-col>
                        </el-row>
                    </div>
                    <!-- 每个步骤的内容 -->
                    <div class="step-container">
                        <!-- 查看简历的内容 -->
                        <div class="check-reg" v-show="status==0">
                            <div class="reg-show"></div>
                        </div>
                        <!-- 通知面试的内容 -->
                        <div class="notice-interview" v-show="status==1">
                            <div class="reg-show"></div>
                            <div class="to-pre">
                                <p>面试签到信息:</p>
                                <div>
                                    <p>
                                        姓名:{{interviewee.name}}
                                    </p>
                                    <p>
                                        应聘职位：{{interviewee.intentJob}}
                                    </p>
                                    <p>
                                        日期：2018-06-11 10:20:12
                                    </p>
                                    <p>
                                        电话：18670351263
                                    </p>
                                    <el-button type="primary" plain @click="toPre">进入初试</el-button>
                                </div>
                            </div>
                        </div>
                        <!-- 初试 -->
                        <div class="pre-interview" v-show="status==2">
                            <!-- 面试人信息 -->
                            <div class="interviewee-msg">
                                <el-row>
                                    <el-col :span="3">姓名:{{interviewee.name}}</el-col>
                                    <el-col :span="3">性别：女</el-col>
                                    <el-col :span="3">年龄：24</el-col>
                                    <el-col :span="3">学历：{{interviewee.education}}</el-col>
                                    <el-col :span="6">应聘岗位：{{interviewee.intentJob}}</el-col>
                                    <el-col :span="6">邮箱：123456789@qq.com</el-col>
                                </el-row>
                            </div>
                            <!-- 面试情况 -->
                            <table class="interview-condition">
                                <thead>
                                    <tr>
                                        <th colspan="4">基本情况匹配度</th>
                                        <th colspan="4">情况描述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>学历</td>
                                        <td>
                                            <el-radio v-model="preJudge.eduFit" label="1">符合</el-radio>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <el-radio v-model="preJudge.eduFit" label="2">不符合</el-radio>
                                        </td>
                                        <td colspan="4">
                                            <el-input type="textarea" :rows="1" v-model="preJudge.eduDes">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>专业技能</td>
                                        <td>
                                            <el-radio v-model="preJudge.major" label="1">优秀</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="preJudge.major" label="2">良好</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="preJudge.major" label="3">很差</el-radio>
                                        </td>
                                        <td colspan="4">
                                            <el-input type="textarea" :rows="1" v-model="preJudge.majorDes">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>工作经验</td>
                                        <td>
                                            <el-radio v-model="preJudge.workExp" label="1">符合任职资格</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="preJudge.workExp" label="2">部分符合</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="preJudge.workExp" label="3">不符合</el-radio>
                                        </td>
                                        <td colspan="4">
                                            <el-input type="textarea" :rows="1" v-model="preJudge.workExpDes">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>岗位意向</td>
                                        <td>
                                            <el-radio v-model="preJudge.posWish" label="1"> 强烈</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="preJudge.posWish" label="2">一般</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="preJudge.posWish" label="3">无意向</el-radio>
                                        </td>
                                        <td colspan="4">
                                            <el-input type="textarea" :rows="1" v-model="preJudge.posWishDes">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr class="advice-for-pre">
                                        <td>初试意见</td>
                                        <td colspan="7">
                                            <el-input type="textarea" :rows="6" v-model="preJudge.preAdvice">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <el-row>
                                                <el-col :span="8" style="margin-left: 10px;">
                                                    <el-radio v-model="preJudge.posFit" label="1">符合岗位基本要求，推荐复试</el-radio>
                                                </el-col>
                                                <el-col :span="8">
                                                    <el-radio v-model="preJudge.posFit" label="2">不符合要求</el-radio>
                                                </el-col>
                                            </el-row>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <el-button type="primary">确认</el-button>
                        </div>
                        <!-- 复试 -->
                        <div class="second-interview" v-show="status==3">
                            <!-- 面试人信息 -->
                            <div class="interviewee-msg">
                                <el-row>
                                    <el-col :span="3">姓名:{{interviewee.name}}</el-col>
                                    <el-col :span="3">性别：女</el-col>
                                    <el-col :span="3">年龄：24</el-col>
                                    <el-col :span="3">学历：{{interviewee.education}}</el-col>
                                    <el-col :span="6">应聘岗位：{{interviewee.intentJob}}</el-col>
                                    <el-col :span="6">邮箱：123456789@qq.com</el-col>
                                </el-row>
                            </div>
                            <!-- 面试情况 -->
                            <table class="interview-condition">
                                <thead>
                                    <tr>
                                        <th colspan="4">基本情况匹配度</th>
                                        <th colspan="4">情况描述</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>专业技能</td>
                                        <td>
                                            <el-radio v-model="secJudge.major" label="1">符合</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="secJudge.major" label="2">基本符合</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="secJudge.major" label="3">不符合</el-radio>
                                        </td>
                                        <td colspan="4">
                                            <el-input type="textarea" :rows="1" v-model="secJudge.majorDes">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>行业经验</td>
                                        <td>
                                            <el-radio v-model="secJudge.workExp" label="1">符合</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="secJudge.workExp" label="2">基本符合</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="secJudge.workExp" label="3">不符合</el-radio>
                                        </td>
                                        <td colspan="4">
                                            <el-input type="textarea" :rows="1" v-model="secJudge.workExpDes">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>文化匹配度</td>
                                        <td>
                                            <el-radio v-model="secJudge.posWish" label="1"> 符合</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="secJudge.posWish" label="2">基本符合</el-radio>
                                        </td>
                                        <td>
                                            <el-radio v-model="secJudge.posWish" label="3">不符合</el-radio>
                                        </td>
                                        <td colspan="4">
                                            <el-input type="textarea" :rows="1" v-model="secJudge.posWishDes">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr class="advice-for-pre">
                                        <td>复试意见1</td>
                                        <td colspan="7">
                                            <el-input type="textarea" :rows="5" v-model="secJudge.preAdvice1">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr class="advice-for-pre" v-show="needNext">
                                        <td>复试意见2</td>
                                        <td colspan="7">
                                            <el-input type="textarea" :rows="5" v-model="secJudge.preAdvice2">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr class="advice-for-pre">
                                        <td>背景调查</td>
                                        <td colspan="7">
                                            <el-input type="textarea" :rows="5" v-model="secJudge.backgroundCheck">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <el-row>
                                                <el-col :span="5" style="margin-left: 10px;">
                                                    <el-radio v-model="secJudge.posFit" label="1">符合，建议录用</el-radio>
                                                </el-col>
                                                <el-col :span="5">
                                                    <el-radio v-model="secJudge.posFit" label="2">基本符合，备选</el-radio>
                                                </el-col>
                                                <el-col :span="5" style="margin-left: 10px;">
                                                    <el-radio v-model="secJudge.posFit" label="3">不符合，回绝</el-radio>
                                                </el-col>
                                            </el-row>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="submit-box">
                                <el-button plain>推荐下一轮复试</el-button>
                                <el-button type="primary">确认</el-button>
                            </div>
                        </div>
                        <!-- 录用申请 -->
                        <div class="employ-apply" v-show="status==4">
                            <!-- 面试人信息 -->
                            <div class="interviewee-msg">
                                <el-row>
                                    <el-col :span="3">姓名:{{interviewee.name}}</el-col>
                                    <el-col :span="3">性别：女</el-col>
                                    <el-col :span="3">年龄：24</el-col>
                                    <el-col :span="3">学历：{{interviewee.education}}</el-col>
                                    <el-col :span="6">应聘岗位：{{interviewee.intentJob}}</el-col>
                                    <el-col :span="6">邮箱：123456789@qq.com</el-col>
                                </el-row>
                            </div>
                            <table class="interview-condition">
                                <thead>
                                    <tr>
                                        <th colspan="3">岗位</th>
                                        <th colspan="5">薪资</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>入职岗位</td>
                                        <td colspan="2">{{interviewee.intentJob}}</td>
                                        <td>试用期工资</td>
                                        <td colspan="4">
                                            <el-input type="text" :rows="1" placeholder="请输入" v-model="employApply.probationSalary" @blur="isNumber">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>所属部门</td>
                                        <td colspan="2">
                                            <el-select v-model="employApply.dept" placeholder="请选择" class="dept-choice">
                                                <el-option v-for="item in typeList" :key="item.value" :label="item.label" :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </td>
                                        <td>试用期时间段</td>
                                        <td colspan="4">
                                            <el-date-picker v-model="employApply.startTime" type="date" placeholder="选择开始时间">
                                            </el-date-picker>
                                            <span>至</span>
                                            <el-date-picker v-model="employApply.endTime" type="date" placeholder="选择结束时间">
                                            </el-date-picker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>到岗时间</td>
                                        <td colspan="2">
                                            <el-date-picker v-model="employApply.comeTime" type="date" placeholder="选择到岗时间" class="come-time">
                                            </el-date-picker>
                                        </td>
                                        <td>正式工资</td>
                                        <td colspan="4">
                                            <el-input type="text" :rows="1" placeholder="请输入" v-model="employApply.realSalary" @blur="isNumber">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>职位级别</td>
                                        <td colspan="2">
                                            <el-select v-model="employApply.posLevel" placeholder="请选择" class="dept-choice">
                                                <el-option v-for="item in typeList" :key="item.value" :label="item.label" :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </td>
                                        <td>其他补助</td>
                                        <td colspan="4">
                                            <el-input type="text" :rows="1" placeholder="请输入" v-model="employApply.subsidy" @blur="isNumber">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>直接上级</td>
                                        <td colspan="2" class="leader">
                                            <el-input type="text" :rows="1" placeholder="请输入" v-model="employApply.leader">
                                            </el-input>
                                        </td>
                                        <td></td>
                                        <td colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">&nbsp;
                                        </td>
                                        <td>&nbsp;</td>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-indent: 10px">备注</td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <el-input type="textarea" :rows="3" placeholder="请输入" v-model="employApply.mark">
                                            </el-input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <el-button type="primary">确认</el-button>
                            <el-dialog title="面试信息预览" :visible.sync="centerDialogVisible" width="65%" center>
                                <div class="interviewee-msg">
                                    <el-row>
                                        <el-col :span="3">姓名:{{interviewee.name}}</el-col>
                                        <el-col :span="3">性别：女</el-col>
                                        <el-col :span="3">年龄：24</el-col>
                                        <el-col :span="3">学历：{{interviewee.education}}</el-col>
                                        <el-col :span="6">应聘岗位：{{interviewee.intentJob}}</el-col>
                                        <el-col :span="6">邮箱：123456789@qq.com</el-col>
                                    </el-row>
                                </div>
                                <table class="interview-condition">
                                    <thead>
                                        <tr>
                                            <th colspan="4">基本情况匹配度</th>
                                            <th colspan="4">情况描述</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>学历</td>
                                            <td>
                                                <el-radio v-model="preJudge.eduFit" disabled label="1">符合</el-radio>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <el-radio v-model="preJudge.eduFit" disabled label="2">不符合</el-radio>
                                            </td>
                                            <td colspan="4">
                                                <el-input type="textarea" :rows="1" disabled v-model="preJudge.eduDes">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>专业技能</td>
                                            <td>
                                                <el-radio v-model="preJudge.major" disabled label="1">优秀</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="preJudge.major" disabled label="2">良好</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="preJudge.major" disabled label="3">很差</el-radio>
                                            </td>
                                            <td colspan="4">
                                                <el-input type="textarea" :rows="1" disabled v-model="preJudge.majorDes">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>工作经验</td>
                                            <td>
                                                <el-radio v-model="preJudge.workExp" disabled label="1">符合任职资格</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="preJudge.workExp" disabled label="2">部分符合</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="preJudge.workExp" disabled label="3">不符合</el-radio>
                                            </td>
                                            <td colspan="4">
                                                <el-input type="textarea" :rows="1" disabled v-model="preJudge.workExpDes">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>岗位意向</td>
                                            <td>
                                                <el-radio v-model="preJudge.posWish" disabled label="1"> 强烈</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="preJudge.posWish" disabled label="2">一般</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="preJudge.posWish" disabled label="3">无意向</el-radio>
                                            </td>
                                            <td colspan="4">
                                                <el-input type="textarea" :rows="1" disabled v-model="preJudge.posWishDes">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr class="advice-for-pre pre-look">
                                            <td>初试意见</td>
                                            <td colspan="7">
                                                <el-input type="textarea" :rows="3" disabled v-model="preJudge.preAdvice">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <el-row>
                                                    <el-col :span="8" style="margin-left: 10px;">
                                                        <el-radio v-model="preJudge.posFit" disabled label="1">符合岗位基本要求，推荐复试</el-radio>
                                                    </el-col>
                                                    <el-col :span="8">
                                                        <el-radio v-model="preJudge.posFit" disabled label="2">不符合要求</el-radio>
                                                    </el-col>
                                                </el-row>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="interview-condition">
                                    <thead>
                                        <tr>
                                            <th colspan="4">基本情况匹配度</th>
                                            <th colspan="4">情况描述</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>专业技能</td>
                                            <td>
                                                <el-radio v-model="secJudge.major" label="1" disabled>符合</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="secJudge.major" label="2" disabled>基本符合</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="secJudge.major" label="3" disabled>不符合</el-radio>
                                            </td>
                                            <td colspan="4">
                                                <el-input type="textarea" :rows="1" disabled v-model="secJudge.majorDes">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>行业经验</td>
                                            <td>
                                                <el-radio v-model="secJudge.workExp" disabled label="1">符合</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="secJudge.workExp" disabled label="2">基本符合</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="secJudge.workExp" disabled label="3">不符合</el-radio>
                                            </td>
                                            <td colspan="4">
                                                <el-input type="textarea" :rows="1" disabled v-model="secJudge.workExpDes">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>文化匹配度</td>
                                            <td>
                                                <el-radio v-model="secJudge.posWish" disabled label="1"> 符合</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="secJudge.posWish" disabled label="2">基本符合</el-radio>
                                            </td>
                                            <td>
                                                <el-radio v-model="secJudge.posWish" disabled label="3">不符合</el-radio>
                                            </td>
                                            <td colspan="4">
                                                <el-input type="textarea" :rows="1" disabled v-model="secJudge.posWishDes">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr class="advice-for-pre pre-look">
                                            <td>复试意见1</td>
                                            <td colspan="7">
                                                <el-input type="textarea" :rows="3" disabled v-model="secJudge.preAdvice1">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr class="advice-for-pre pre-look" v-show="needNext">
                                            <td>复试意见2</td>
                                            <td colspan="7">
                                                <el-input type="textarea" :rows="3" disabled v-model="secJudge.preAdvice2">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr class="advice-for-pre pre-look">
                                            <td>背景调查</td>
                                            <td colspan="7">
                                                <el-input type="textarea" :rows="3" disabled v-model="secJudge.backgroundCheck">
                                                </el-input>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <el-row>
                                                    <el-col :span="5" style="margin-left: 10px;">
                                                        <el-radio v-model="secJudge.posFit" disabled label="1">符合，建议录用</el-radio>
                                                    </el-col>
                                                    <el-col :span="5">
                                                        <el-radio v-model="secJudge.posFit" disabled label="2">基本符合，备选</el-radio>
                                                    </el-col>
                                                    <el-col :span="5" style="margin-left: 10px;">
                                                        <el-radio v-model="secJudge.posFit" disabled label="3">不符合，回绝</el-radio>
                                                    </el-col>
                                                </el-row>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <el-button type="primary" @click="centerDialogVisible=false">返回</el-button>
                            </el-dialog>
                        </div>
                        <!-- 录用审批 -->
                        <div class="employ-consider" v-show="status==5">
                            <div class="interviewee-msg">
                                <el-row>
                                    <el-col :span="3">姓名:{{interviewee.name}}</el-col>
                                    <el-col :span="3">性别：女</el-col>
                                    <el-col :span="3">年龄：24</el-col>
                                    <el-col :span="3">学历：{{interviewee.education}}</el-col>
                                    <el-col :span="6">应聘岗位：{{interviewee.intentJob}}</el-col>
                                    <el-col :span="6">邮箱：123456789@qq.com</el-col>
                                </el-row>
                            </div>
                            <div class="consider-steps">
                                <el-steps direction="vertical" :active="employConsider.step">
                                    <el-step title="资源管理服务部审核"></el-step>
                                    <el-step title="中心总经理核准"></el-step>
                                    <el-step title="公司总经理核准"></el-step>
                                </el-steps>
                                <div class="zf-consider consider">
                                    <el-radio-group v-model="employConsider.zfConsider">
                                        <el-radio :label="1">同意办理入职</el-radio>
                                        <el-radio :label="2">留档，备用</el-radio>
                                        <el-radio :label="3">不予录用</el-radio>
                                    </el-radio-group>
                                    <span>意见说明:</span>
                                    <input type="text" v-model="employConsider.zfAdvice">
                                </div>
                                <div class="manager-consider consider">
                                    <el-radio-group v-model="employConsider.managerConsider">
                                        <el-radio :label="1">同意办理入职</el-radio>
                                        <el-radio :label="2">留档，备用</el-radio>
                                        <el-radio :label="3">不予录用</el-radio>
                                    </el-radio-group>
                                    <span>意见说明:</span>
                                    <input type="text" v-model="employConsider.managerAdvice">
                                </div>
                                <div class="boss-consider consider">
                                    <el-radio-group v-model="employConsider.bossConsider">
                                        <el-radio :label="1">同意办理入职</el-radio>
                                        <el-radio :label="2">留档，备用</el-radio>
                                        <el-radio :label="3">不予录用</el-radio>
                                    </el-radio-group>
                                    <span>意见说明:</span>
                                    <input type="text" v-model="employConsider.bossAdvice">
                                </div>
                            </div>
                            <el-button type="primary">确认</el-button>
                        </div>
                        <!-- 完成 -->
                        <div class="employ-done" v-show="status== 6 || status== 7 ">
                            <div class="interviewee-msg">
                                <el-row>
                                    <el-col :span="3">姓名:{{interviewee.name}}</el-col>
                                    <el-col :span="3">性别：女</el-col>
                                    <el-col :span="3">年龄：24</el-col>
                                    <el-col :span="3">学历：{{interviewee.education}}</el-col>
                                    <el-col :span="6">应聘岗位：{{interviewee.intentJob}}</el-col>
                                    <el-col :span="6">邮箱：123456789@qq.com</el-col>
                                </el-row>
                            </div>
                            <div class="interview-condition">
                                <div class="offer-header">
                                    <el-row>
                                        <el-col :span="12">
                                            <span>发送方式</span>
                                            <el-radio-group v-model="sendOffer.type" :disabled="status == 7">
                                                <el-radio label="1">邮件</el-radio>
                                                <el-radio label="2">短信</el-radio>
                                            </el-radio-group>
                                        </el-col>
                                        <el-col :span="12">
                                            <span>模板</span>
                                            <el-select v-model="sendOffer.module" placeholder="请选择面试类型" :disabled="status == 7">
                                                <el-option v-for="item in moduleList" :key="item.value" :label="item.label" :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                </div>
                                <div class="offer-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>