<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布任务</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/template-new.css">
    <script src="./js/vue.js"></script>
    <script src="./js/ele-index.js"></script>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./js/post-new.js"></script>
</head>

<body>
    <div id="left-nav">
        <div id="gxcf-title">
            <span>人力资源管理系统</span>
        </div>
        <ul id="nav-list">
            <li>
                <img src="./images/nav1.png" alt="">
                <a href="#">
                    人力资源规划
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav2.png" alt="">
                <a href="./index.html" class="active">
                    人才招聘管理
                </a>
                <ul>
                    <li>
                        <a href="./candidate.html">招聘管理</a>
                    </li>
                    <li class="active">
                        <a href="./post-manage.html">招聘任务</a>
                        <ul>
                            <li class="sel">
                                <a href="#">发布任务</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./resume-manage.html">简历管理</a>
                    </li>
                    <li>
                        <a href="./school-cooperation.html">校企合作</a>
                    </li>
                    <li>
                        <a href="./template-list.html">系统设置</a>
                    </li>
                </ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav3.png" alt="">
                <a href="#">
                    绩效考核管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav4.png" alt="">
                <a href="#">
                    培训开发管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav5.png" alt="">
                <a href="#">
                    薪资福利管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav6.png" alt="">
                <a href="./statistical-analysis.html">
                    统计分析
                </a>
                <ul></ul>
            </li>
            <i></i>
        </ul>
    </div>
    <div id="right-container">
        <div id="right-top">
            <span class="right-title">发布任务</span>
            <div class="right-box">
                <div class="search">
                    <i class="search-icon"></i>
                    <input type="text" class="search-input">
                </div>
                <span class="user-name">Hello,Na</span>
                <span class="exit"></span>
            </div>
        </div>
        <div id="right-content">
            <div class="condition-filter">
            </div>
            <div class="mian-content">
                <div class="mm-content">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <el-row :gutter="60">
                            <el-col :span="12">
                                <el-form-item label="岗位类型" prop="postType">
                                    <el-select v-model="ruleForm.postType" placeholder="请选择岗位类型">
                                        <el-option v-for="item in postTypeList" :key="item.value" :label="item.label" :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="招聘人数" prop="recruitNum">
                                    <el-input v-model="ruleForm.recruitNum"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="60">
                            <el-col :span="12">
                                <el-form-item label="岗位名称" prop="postName">
                                    <el-select v-model="ruleForm.postName" placeholder="请选择岗位名称">
                                        <el-option v-for="item in postNameList" :key="item.value" :label="item.label" :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="所属部门" prop="deptName">
                                    <el-select v-model="ruleForm.deptName" placeholder="请选择所属部门">
                                        <el-option v-for="item in deptNameList" :key="item.value" :label="item.label" :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="60">
                            <el-col :span="12">
                                <el-form-item label="紧急程度" prop="recruitNum">
                                    <el-input v-model="ruleForm.recruitNum"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="任务有效期" prop="postreinterviewer">
                                    <el-select v-model="ruleForm.postreinterviewer" placeholder="请选择复试面试官">
                                        <el-option v-for="item in postreinterviewerList" :key="item.value" :label="item.label" :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="60">
                            <el-col :span="2">
                                <el-form-item label="状态" prop="delivery">
                                    <el-switch v-model="ruleForm.delivery" active-color="#13ce66" inactive-color="#bdc2c7"></el-switch>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-form-item label="职位要求" prop="content">
                            <el-input type="textarea" v-model="ruleForm.content"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button @click="resetForm('ruleForm')">清空</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>