<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>统计分析</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/waitInterview.css">
    <script src="./js/vue.js"></script>
    <script src="./js/ele-index.js"></script>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./common/commData.js"></script>
    <script src="./js/statistical-analysis.js"></script>
</head>

<body>
    <div id="left-nav">
        <div id="gxcf-title">
            <span>人力资源管理系统</span>
        </div>
        <ul id="nav-list">
            <li>
                <img src="./images/nav1.png" alt="">
                <a href="#">
                    人力资源规划
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav2.png" alt="">
                <a href="./index.html">
                    人才招聘管理
                </a>
                <ul>
                    <li class="active">
                        <a href="./candidate.html">招聘管理</a>
                        <ul>
                            <li>
                                <a href="./postList.html">职位申请列表</a>
                            </li>
                            <li>
                                <a href="./waitInterview.html">待面试</a>
                            </li>
                            <li>
                                <a href="./sendOffer.html">待入职</a>
                            </li>
                            <li class="sel">
                                <a href="#">已入职</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./post-manage.html">招聘任务</a>
                    </li>
                    <li>
                        <a href="./resume-manage.html">简历管理</a>
                    </li>
                    <li>
                        <a href="./school-cooperation.html">校企合作</a>
                    </li>
                    <li>
                        <a href="./template-list.html">系统设置</a>
                    </li>
                </ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav3.png" alt="">
                <a href="#">
                    绩效考核管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav4.png" alt="">
                <a href="#">
                    培训开发管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav5.png" alt="">
                <a href="#">
                    薪资福利管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav6.png" alt="">
                <a href="#">
                    统计分析
                </a>
                <ul></ul>
            </li>
            <i></i>
        </ul>
    </div>
    <div id="right-container">
        <div id="right-top">
            <span class="right-title">统计分析</span>
        </div>
        <div id="right-content">
            <div class="tabel-changge">
                <el-radio-group v-model="radio3" @change="change">
                    <el-radio-button label="本月"></el-radio-button>
                    <el-radio-button label="本周"></el-radio-button>
                    <el-radio-button label="年"></el-radio-button>
                    <el-date-picker v-model="value5" type="year" placeholder="选择年">
                    </el-date-picker>
                </el-radio-group>
            </div>
            <div class="tabel-contant">
                <el-table :data="tableData" border max-height="100%" style="width: 100%">
                    <el-table-column prop="name" label="姓名">
                    </el-table-column>
                    <el-table-column prop="mobile" label="有效简历数">
                    </el-table-column>
                    <el-table-column prop="intentJob" label="接通电话数">
                    </el-table-column>
                    <el-table-column prop="hrname" label="通知人数">
                    </el-table-column>
                    <el-table-column prop="dept" label="待面试">
                    </el-table-column>
                    <el-table-column prop="arriveTime" label="待入职">
                    </el-table-column>
                    <el-table-column prop="level" label="发送offer">
                    </el-table-column>
                    <el-table-column prop="sex" label="已入职">
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination background layout="prev, pager, next" :total="total" :page-size="size" :pager-count="8" :current-page.sync="crrentPage"
                        @current-change="currentChange">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</body>

</html>