<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>系统配置</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/system-setting.css">
    <script src="./js/vue.js"></script>
    <script src="./js/ele-index.js"></script>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./js/system-setting.js"></script>
</head>

<body>
    <div id="left-nav">
        <div id="gxcf-title">
            <span>人力资源管理系统</span>
        </div>
        <ul id="nav-list">
            <li>
                <img src="./images/nav1.png" alt="">
                <a href="#">
                    人力资源规划
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav2.png" alt="">
                <a href="./index.html" class="active">
                    人才招聘管理
                </a>
                <ul>
                    <li>
                        <a href="./candidate.html">招聘管理</a>
                    </li>
                    <li>
                        <a href="./post-manage.html">招聘任务</a>
                    </li>
                    <li>
                        <a href="./resume-manage.html">简历管理</a>
                    </li>
                    <li>
                        <a href="./school-cooperation.html">校企合作</a>
                    </li>
                    <li class="active">
                        <a href="./template-list.html">系统设置</a>
                        <ul>
                            <li>
                                <a href="./template-new.html">模版管理</a>
                            </li>
                            <li>
                                <a href="./user-manage.html">用户管理</a>
                            </li>
                            <li class="sel">
                                <a href="#">系统配置</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav3.png" alt="">
                <a href="#">
                    绩效考核管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav4.png" alt="">
                <a href="#">
                    培训开发管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav5.png" alt="">
                <a href="#">
                    薪资福利管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav6.png" alt="">
                <a href="./statistical-analysis.html">
                    统计分析
                </a>
                <ul></ul>
            </li>
            <i></i>
        </ul>
    </div>
    <div id="right-container">
        <div id="right-top">
            <span class="right-title">系统配置</span>
            <div class="right-box">
                <div class="search">
                    <i class="search-icon"></i>
                    <input type="text" class="search-input">
                </div>
                <span class="user-name">Hello,Na</span>
                <span class="exit"></span>
            </div>
        </div>
        <div id="right-content">
            <div class="condition-filter">
            </div>
            <div class="mian-content">
                <div class="mm-content">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
                        <el-row :gutter="50">
                            <el-col :span="9">
                                <el-form-item label="短信接口地址" prop="dxjkdz">
                                    <el-input v-model="ruleForm.dxjkdz" placeholder="输入短信接口地址"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="50">
                            <el-col :span="9">
                                <el-form-item label="邮件发件邮箱" prop="yjfsryx">
                                    <el-input v-model="ruleForm.yjfsryx"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="50">
                            <el-col :span="9">
                                <el-form-item label="密码" prop="defaultpwd">
                                    <el-input v-model="ruleForm.defaultpwd" type="password"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="50">
                            <el-col :span="9">
                                <el-form-item label="SMTP服务器地址" prop="smtpurl">
                                    <el-input v-model="ruleForm.smtpurl"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="50">
                            <el-col :span="9">
                                <el-form-item label="SMTP服务器端口" prop="smtpport">
                                    <el-input v-model="ruleForm.smtpport"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="50">
                            <el-col :span="9">
                                <el-form-item>
                                    <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>