<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>新建模板</title>
    <link rel="stylesheet" href="./css/el-index.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/template-new.css">
    <script src="./js/vue.js"></script>
    <script src="./js/ele-index.js"></script>
    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./common/commData.js"></script>
    <script src="./js/template-new.js"></script>
</head>

<body>
    <div id="left-nav">
        <div id="gxcf-title">
            <span>人力资源管理系统</span>
        </div>
        <ul id="nav-list">
            <li>
                <img src="./images/nav1.png" alt="">
                <a href="#">
                    人力资源规划
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav2.png" alt="">
                <a href="./index.html" class="active">
                    人才招聘管理
                </a>
                <ul>
                    <li>
                        <a href="./candidate.html">招聘管理</a>
                    </li>
                    <li>
                        <a href="./post-manage.html">招聘任务</a>
                    </li>
                    <li>
                        <a href="./resume-manage.html">简历管理</a>
                    </li>
                    <li>
                        <a href="./school-cooperation.html">校企合作</a>
                    </li>
                    <li class="active">
                        <a href="./template-list.html">系统设置</a>
                        <ul>
                            <li class="sel">
                                <a href="#">模版管理</a>
                            </li>
                            <li>
                                <a href="./user-manage.html">用户管理</a>
                            </li>
                            <li>
                                <a href="./system-setting.html">系统配置</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav3.png" alt="">
                <a href="#">
                    绩效考核管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav4.png" alt="">
                <a href="#">
                    培训开发管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav5.png" alt="">
                <a href="#">
                    薪资福利管理
                </a>
                <ul></ul>
            </li>
            <i></i>
            <li>
                <img src="./images/nav6.png" alt="">
                <a href="./statistical-analysis.html">
                    统计分析
                </a>
                <ul></ul>
            </li>
            <i></i>
        </ul>
    </div>
    <div id="right-container">
        <div id="right-top">
            <span class="right-title">新建模板</span>
            <div class="right-box">
                <div class="search">
                    <i class="search-icon"></i>
                    <input type="text" class="search-input">
                </div>
                <span class="user-name">Hello,{{username}}</span>
                <span class="exit"></span>
            </div>
        </div>
        <div id="right-content">
            <div class="condition-filter">
            </div>
            <div class="mian-content">
                <div class="mm-content">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <el-row :gutter="60">
                            <el-col :span="12">
                                <el-form-item label="模板类型" prop="type">
                                    <el-select v-model="ruleForm.type" placeholder="选择类型">
                                        <el-option v-for="item in typeList" :key="item.id" :label="item.value" :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="模板名称" prop="name">
                                    <el-input v-model="ruleForm.name" placeholder="输入模板名称"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="60">
                            <el-col :span="12">
                                <el-form-item label="状态" prop="stat">
                                    <el-select v-model="ruleForm.stat" placeholder="默认开启状态">
                                        <el-option v-for="item in stateList" :key="item.id" :label="item.value" :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="模板用途" prop="tdesc">
                                    <el-input v-model="ruleForm.tdesc"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item label="邮件内容" prop="content">
                            <el-input type="textarea" v-model="ruleForm.content"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="resetForm('ruleForm')">清空</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>